<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <div class="card mt-5">
        <div class="card-header">
            <h2>Criaçao de Usuário</h2>
        </div>
        <div class="card-body">
            <form action="/users/create" method="POST">
                <input class="form-control" type="email" name="email" placeholder="Digite seu e-mail!" ><br>
                <input type="password" class="form-control" name="password" placeholder="Digite sua senha!"><br>
                <button class="btn btn-success btn-block" type="submit">Criar</button>
            </form>
           
        </div>
    </div>
</div>

<%- include ('../../partials/footer.ejs') %>

